/* ANSWERS - Full credit to code.org for task */
  
p {
  color: black;
  font-size: 24px; /* I added a dash in between "font" and "size" since they are two different words. */
}
h1 {
  font-weight: bold;
}



